.classes
  %h2 Clases
  tabla...

.notes
  %h2 Notas
  = form_tag 'save_setting' do
    = hidden_field_tag :setting_key, 'notes'
    .form-group
      = text_area_tag 'key[notes]', Setting.fetch(:notes, ''), class: 'form-control trumbowyg'
    .actions
      = submit_tag 'Guardar Notas', class: 'btn btn-primary'
.birthdays
  %h2
    Cumpleaños
    %i.fa.fa-birthday-cake
  - if @birthday.any?
    %ul
      - @birthday.each do |p|
        %li= link_to p.to_label, edit_person_path(p)
  - else
    No hay cumpleaños hoy.
.dailycash
  %h2 Caja diaria
  .totals
    %b Entradas: $#{@totals[:in]}; Salidas: $#{@totals[:out]}; Total: $#{@totals[:total]}
  = render partial: 'money_transactions/people_table', locals: {transactions: @people_transactions}
  .totals
    Entradas: $#{@totals[:persons_in]}; Salidas: $#{@totals[:persons_out]}
  = render partial: 'money_transactions/general_table', locals: {transactions: @general_transactions}
  .totals
    Entradas: $#{@totals[:general_in]}; Salidas: $#{@totals[:general_out]}
  .actions
    = link_to 'Agregar Movimiento', new_money_transaction_path, class: 'btn btn-light', remote: true
    = link_to 'Marcar Cierre', '#', class: 'btn btn-light'
