= form_for @tran do |f|
  .form-group
    = f.label :amount
    = f.text_field :amount, class: 'form-control'
  .form-group
    = f.label :description
    = f.text_field :description, class: 'form-control'
  .form-check-inline
    = label_tag '', class: 'form-check-label' do
      = f.radio_button :done, true, class: 'form-check-input'
      = t('money.in')
  .form-check-inline
    = label_tag '', class: 'form-check-label' do
      = f.radio_button :done, false, class: 'form-check-input'
      = t('money.out')
  .actions.modal-footer
    = f.submit t('save.money_transaction'), class: 'btn btn-primary'
