= form_for @tran do |f|
  .form-group
    = f.label :amount
    = f.text_field :amount, class: 'form-control'
  .form-group
    = f.label :description
    = f.text_field :description, class: 'form-control'
  .form-check-inline
    = label_tag class: 'form-check-label' do
      = f.radio_button :done, true, class: 'form-check-input'
      = t :out, scope: 'movement_done'
  .form-check-inline
    = label_tag class: 'form-check-label' do
      = f.radio_button :done, false, class: 'form-check-input'
      = t :in, scope: 'movement_done'
  .actions.modal-footer
    = f.submit 'Guardar', class: 'btn btn-primary'
