%table.table.table-striped.table-sm
  %tr
    %th= t('activerecord.attributes.installment.year')
    %th= t('activerecord.attributes.installment.month')
    %th= t('activerecord.attributes.installment.amount')
    %th= t('activerecord.attributes.installment.status')
    %th= t('activerecord.attributes.installment.payments')
  - membership.installments.includes(:payments).each do |i|
    %tr{id: "installment_#{i.id}"}
      %td= i.year
      %td= i.month_name
      %td
        $#{i.amount}
        - if (r = i.get_recharge) > 0
          (+#{r})
      %td= t("payment_status.#{i.status}")
      %td
        - if i.payments.any?
          %ul
            - i.payments.each do |p|
              %li
                %i.fa.fa-calendar{title: l(p.created_at)}
                $#{p.amount} (#{p.description})
        - if i.to_pay > 0
          = link_to new_payment_installment_path(i), remote: true do
            %i.fa.fa-plus{title: t('add.payment')}
