= form_for @membership do |f|
  = f.hidden_field :person_id
  - if @membership.errors.any?
    = @membership.errors.full_messages
  .row
    - (0..6).each do |d|
      .col-1
        %h3= I18n.t('date.day_names')[d]
        = f.collection_check_boxes(:schedule_ids, Schedule.where(day: d), :id, :to_label)
  = f.submit 'Guardar', class: 'btn btn-primary'
