= form_for @membership do |f|
  = f.hidden_field :person_id
  - if @membership.errors.any?
    = @membership.errors.full_messages
  .new_membership_days
    = render partial: 'schedules/calendar', locals: {object: @membership}

  .form-group
    = f.label :amount
    = f.text_field :amount, class: 'form-control'
    .hint_hours
      Precio para:
      = succeed 'hs' do
        %span.hours 0
  .modal-footer
    = f.submit t('save.membership'), class: 'btn btn-primary'
