= form_for @membership, data: {'auto-price-url' => new_membership_calculator_person_path(@membership.person)} do |f|
  = f.hidden_field :person_id
  - if @membership.errors.any?
    = @membership.errors.full_messages
  .new_membership_days
    = render partial: 'schedules/calendar', locals: {object: @membership}

  .auto_calculation
    Subtotal: $0,00
    %br
    Total: $0,00
  = label_tag '', class: 'form-checkbox' do
    = check_box_tag "membership[use_custom_amount]"
    = t 'activerecord.attributes.membership.use_custom_amount'
    %i.form-icon

  .input-group
    %span.input-group-addon $
    = f.text_field :amount, value: '', class: 'form-input', placeholder: 'Monto manual'
  .modal-footer
    = f.submit t('save.membership'), class: 'btn btn-primary'
