.field
  = f.label :name
  = f.text_field :name
.field
  = f.label :lastname
  = f.text_field :lastname
.field
  = f.label :is_teacher
  = f.check_box :is_teacher
.field
  = f.label :status
  = f.text_field :status
.field
  = f.label :birthday
  = f.text_field :birthday, placeholder: 'dd/mm/aaaa'
.field
  = f.label :age
  = f.text_field :age
.field
  = f.label :dni
  = f.text_field :dni
.field
  = f.label :cellphone
  = f.text_field :cellphone
.field
  = f.label :alt_phone
  = f.text_field :alt_phone
.field
  = f.label :address
  = f.text_field :address
.field
  = f.label :female
  = f.check_box :female
.field
  = f.label :email
  = f.text_field :email
.field
  = f.label :group
  = f.text_field :group
.field
  = f.label :comments
  = f.text_area :comments
