= f.hidden_field :is_teacher
= f.input :name
= f.input :lastname
= f.input :birthday, as: :string, input_html: {placeholder: 'aaaa-mm-dd', class: 'datepicker'}
= f.input :age
= f.input :dni
= f.input :gender, collection: Person.genders_for_select, include_blank: false, input_html: {class: 'form-select'}
= f.input :cellphone
= f.input :alt_phone
= f.input :address
= f.input :email, as: :string
= f.input :group

-# = f.input :is_teacher
-# = f.input :status

- unless f.object.new_record?
  .form-group.family_field
    = f.label :family, class: 'form-label'
    %ul
      - f.object.family_members.each do |u|
        %li
          = link_to u.to_label, edit_person_path(u)
          (#{link_to('X', remove_family_member_person_path(f.object, {family_member_id: u.id}), method: :put, data: {confirm: '¿Seguro?'})})
      %li= link_to 'Agregar miembro', add_family_member_person_path(f.object), remote: true

= f.input :comments, class: 'comments_field'
