.form-row
  .form-group.col
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group.col
    = f.label :lastname
    = f.text_field :lastname, class: 'form-control'
-# .form-check
-#   = f.label :is_teacher, class: 'form-label'
-#   = f.check_box :is_teacher, class: 'form-input'
-# .form-group
-#   = f.label :status
-#   = f.text_field :status, class: 'form-control'
.form-row
  .form-group.col
    = f.label :birthday
    = f.text_field :birthday, placeholder: 'dd/mm/aaaa', class: 'form-control'
  .form-group.col
    = f.label :age
    = f.text_field :age, class: 'form-control'
.form-row
  .form-group.col
    = f.label :dni
    = f.text_field :dni, class: 'form-control'
  .form-check.col
    = f.label :gender, class: 'form-label'
    = f.select :gender, options_for_select(Person.genders_for_select), {}, class: 'form-control'
.form-row
  .form-group.col
    = f.label :cellphone
    = f.text_field :cellphone, class: 'form-control'
  .form-group.col
    = f.label :alt_phone
    = f.text_field :alt_phone, class: 'form-control'
.form-row
  .form-group.col
    = f.label :address
    = f.text_field :address, class: 'form-control'
  .form-group.col
    = f.label :email
    = f.text_field :email, class: 'form-control'
.form-group
  = f.label :group
  = f.text_field :group, class: 'form-control'
.form-group
  = f.label :comments
  = f.text_area :comments, class: 'form-control'
