= form_with model: @person do |f|
  = render partial: 'person_fields', locals: {f: f}
  .actions
    = submit_tag 'Guardar'

.memberships
  = select_tag :membership, options_from_collection_for_select(@person.memberships, :id, :name)
  .installments
    - if m = @person.memberships.last
      %table
        %tr
          %th Año
          %th Mes
          %th Monto
          %th Recargo
          %th Pagos
        - m.installments.each do |i|
          %tr
            %td= i.year
            %td= i.month
            %td= i.amount
            %td ...
            %td
              %ul
                - i.payments.each do |p|
                  %li= p.amount
