%h1= t("edit.#{@person.type}")

.personal_data
  %h3= t('personal_data')
  = form_with model: @person, class: 'form-compact' do |f|
    = render partial: 'person_fields', locals: {f: f}
    .actions
      = submit_tag t("save.#{@person.type}"), class: 'btn btn-primary'

.memberships
  = select_tag :membership, options_from_collection_for_select(@person.memberships, :id, :to_label), class: 'form-control'
  .installments
    - if m = @person.memberships.first
      = render partial: 'people/membership', locals: {membership: m}
  .actions
    = link_to t('add.membership'), new_membership_person_path(@person), class: 'btn btn-light', remote: true
