- page_title("#{t("edit.#{@person.type}")}: #{@person.to_label}")

%h1= "#{t("edit.#{@person.type}")}: #{@person.to_label}"

.personal_data
  %h3= t('personal_data')
  = form_for @person, html: {class: 'form-compact'} do |f|
    = render partial: 'person_fields', locals: {f: f}
    .actions
      = submit_tag t("save.#{@person.type}"), class: 'btn btn-primary'

.tabbed
  .tabs
    .tab.current{data: {'tab-content-ref' => 'person_payments'}}= t('tab.person_payments')
    - if @person.is_teacher?
      .tab{data: {'tab-content-ref' => 'payments_to_teacher'}}= t('tab.payments_to_teacher')
    .tab{data: {'tab-content-ref' => 'debts'}}= t('tab.debts')
    .tab{data: {'tab-content-ref' => 'memberships'}}= t('tab.memberships')
  .tabs_contents.scrollable
    .tab_content.current{data: {'tab-content' => 'person_payments'}}
      = render partial: 'payments_table', locals: {payments: @person_payments, url: add_payment_person_path(@person)}

    - if @person.is_teacher?
      .tab_content{data: {'tab-content' => 'payments_to_teacher'}}
        = render partial: 'payments_table', locals: {payments: @payments_to_person, url: add_payment_done_person_path(@person)}

    .tab_content.debts{data: {'tab-content' => 'debts'}}
      %table.table.table-striped.table-sm
        %thead.thead-dark
          %tr
            %th= t('activerecord.attributes.debt.date')
            %th= t('activerecord.attributes.debt.description')
            %th= t('activerecord.attributes.debt.amount')
            %th= t('activerecord.attributes.debt.status')
            %th.actions
        %tbody
          - @debts.each do |d|
            %tr
              %td{title: l(d.created_at)}= l d.created_at, format: :date
              %td= d.description
              %td= d.amount
              %td= d.status
              %td.actions
                - if d.payments.any?
                  %ul
                    - d.payments.each do |p|
                      %li
                        %i.fa.fa-calendar{title: l(p.created_at)}
                        $#{p.amount} (#{p.description})
                - if d.to_pay > 0
                  = link_to add_payment_debt_path(d), remote: true do
                    %i.fa.fa-plus{title: t('add.payment')}
      .actions
        = link_to t('add.debt'), add_debt_person_path(@person), class: 'button', remote: true

    .tab_content.memberships{data: {'tab-content' => 'memberships'}}
      .selector
        = select_tag :membership, options_from_collection_for_select(@person.memberships, :id, :to_label), class: 'form-control'
        = link_to t('add.membership'), new_membership_person_path(@person), class: 'btn btn-light', remote: true
      .installments
        - if m = @person.memberships.first
          = render partial: 'people/membership', locals: {membership: m}
