%h1 Editar #{@person.is_teacher? ? 'Profesor/a' : 'Alumno/a'}

.row
  .col-5
    %h3 Datos personales
    = form_with model: @person do |f|
      = render partial: 'person_fields', locals: {f: f}
      .actions
        = submit_tag 'Guardar', class: 'btn btn-primary'

  .col-7
    .memberships
      = select_tag :membership, options_from_collection_for_select(@person.memberships, :id, :to_label)
      .installments
        - if m = @person.memberships.last
          %table
            %tr
              %th Año
              %th Mes
              %th Monto
              %th Recargo
              %th Pagos
            - m.installments.each do |i|
              %tr
                %td= i.year
                %td= i.month_name
                %td $#{i.amount}
                %td $#{i.get_recharge}
                %td
                  %ul
                    - i.payments.each do |p|
                      %li= p.amount
      .actions
        = link_to 'Add membership', new_membership_person_path(@person)
