%h1= t('titles.people')

= form_tag '', method: :get, class: 'form-inline' do
  = select_tag :type, options_for_select([['Profes','teachers'],['Almuno/as','students']], params[:type]), prompt: 'Mostar todos', class: 'form-control mb-2 mr-2'
  = text_field_tag :q, params[:q], placeholder: 'Buscar (nombre, apellido, dni)', class: 'form-control mr-2 mb-2'
  = submit_tag 'Filtrar', class: 'btn btn-primary mb-2'

%table.table
  %thead
    %tr
      %th= t('form.header.people.name')
      %th= t('form.header.people.lastname')
      %th DNI
      %th Dirección
      %th Email
      %th
  %tbody
    - @people.each do |person|
      %tr
        %td= person.name
        %td= person.lastname
        %td= person.dni
        %td= person.address
        %td= person.email
        %td= link_to t('form.action.people.edit'), edit_person_path(person)

  %tfoot
    %tr
      %td{colspan: 6}
        = link_to t('form.action.people.add_teacher'), new_teacher_person_path, class: 'btn btn-light'
        = link_to t('form.action.people.add_student'), new_student_person_path, class: 'btn btn-light'
