%h1= t('titles.people')

= form_tag '', method: :get, class: 'form-inline' do
  = select_tag :type, options_for_select([['Profesores','teachers'],['Almuno/as','students']], params[:type]), prompt: 'Mostar todos', class: 'form-control mb-2 mr-2'
  = text_field_tag :q, params[:q], placeholder: t('labels.people.search'), class: 'form-control mr-2 mb-2'
  = submit_tag t('labels.filter'), class: 'btn btn-primary mb-2'

.scrollable
  %table.table.table-striped.table-sm
    %thead.thead-dark
      %tr
        %th= t('form.header.people.name')
        %th= t('form.header.people.lastname')
        %th= t('form.header.people.document')
        %th= t('form.header.people.address')
        %th= t('form.header.people.email')
        %th
    %tbody
      - @people.each do |person|
        %tr
          %td= person.name
          %td= person.lastname
          %td= person.dni
          %td= person.address
          %td= person.email
          %td
            = link_to edit_person_path(person) do
              %i.fa.fa-edit
.actions
  = link_to t('form.action.people.add_teacher'), new_teacher_person_path, class: 'btn btn-primary'
  = link_to t('form.action.people.add_student'), new_student_person_path, class: 'btn btn-primary'
