- page_title(t('options'))

%h1= t('options')

= form_tag '', class: 'form-compact' do
  .configuration
    %h2= t 'configuration'
    - [[:name, ''],[:opening_time, '09:00'],[:closing_time, '22:00'],[:recharge_after_day, '10'],
       [:recharge_value, '10%'],[:month_recharge_value, '25%'],[:family_discount, '0']].each do |key,default|
      .form-group
        = label_tag "key[#{key}]", t(key, scope: 'form.options')
        = text_field_tag "key[#{key}]", Setting.fetch(key.to_s, default), class: 'form-control'
    .form-group
      = label_tag "key[language]", t(:language, scope: 'form.options')
      = select_tag "key[language]", options_for_select([['Español','es'],['English','en']], Setting.fetch('language', 'es')), class: 'form-control'
  .hourly_fees
    %h2= t 'hourly_fees'
    #hour_fees.scrollable_table
      %table.table.table-striped.table-sm
        %thead
          %tr
            %th= t('labels.options.hours')
            %th= t('labels.options.value')
        %tbody
          - @fees.keys.sort_by(&:to_f).each do |k|
            - v = @fees[k]
            - next if v.blank?
            %tr
              %td= k
              %td= text_field_tag "key[hour_fees][#{k}]", v, id: "fee_#{k}"
    .actions
      = link_to t('add.price'), settings_add_price_path, id: 'add_hour_fee', class: 'btn btn-primary', remote: true
  .actions
    = submit_tag t('save.options'), class: 'btn btn-primary'
