%h1 Options

.row
  .col-6
    = form_tag '' do
      - [[:name, ''],[:opening_time, '09:00'],[:closing_time, '22:00'],[:recharge_after_day, '10'],
         [:recharge_value, '10%'],[:month_recharge_value, '25%'],[:language, 'en'],[:dates_format, '%Y-%m-%d']].each do |key,default|
        .form-group
          = label_tag "key[#{key}]", t(key, scope: 'options')
          = text_field_tag "key[#{key}]", Setting.fetch(key, default), class: 'form-control'
      = submit_tag 'Save options', class: 'btn btn-primary'
