%h1 #{t('edit.room')}: #{@room.name}

= form_with model: @room, class: 'edit_klass' do |f|
  = render partial: 'room_fields', locals: {f: f}
  .actions
    = submit_tag t('save.room'), class: 'btn btn-primary'
