- page_title("#{t('edit.room')}: #{@room.name}")

%h1 #{t('edit.room')}: #{@room.name}

= simple_form_for @room do |f|
  = render partial: 'room_fields', locals: {f: f}
  .actions
    = submit_tag t('save.room'), class: 'btn btn-primary'
