%h1
  = t('titles.edit_room')
  = @room.name

= form_with model: @room, class: 'edit_klass' do |f|
  = render partial: 'room_fields', locals: {f: f}
  .actions
    = submit_tag t('form.action.rooms.save'), class: 'btn btn-primary'
