%h1= t('titles.daily_cash')
.row
  .col-2
    %h2= t('filters')
    = form_tag reports_daily_cash_path, method: :get do
      .form-group
        = label_tag :date
        = date_field_tag :date, @date, class: 'form-control'
      .form-group
        = label_tag :text
        = text_field_tag :text, params[:text], class: 'form-control', placeholder: 'Desc/Name/Lastname'

      = submit_tag t('filter'), class: 'btn btn-primary'

  .col-10
    .row
      .col-12.totals
        %b Entradas: $#{@totals[:in]}; Salidas: $#{@totals[:out]}; Total: $#{@totals[:total]}
    .row
      .col-6= render partial: 'money_transactions/people_table', locals: {transactions: @people_transactions, hide_actions: true}
      .col-6= render partial: 'money_transactions/general_table', locals: {transactions: @general_transactions, hide_actions: true}
    .row
      .col-6.totals
        Entradas: $#{@totals[:persons_in]}; Salidas: $#{@totals[:persons_out]}
      .col-6.totals
        Entradas: $#{@totals[:general_in]}; Salidas: $#{@totals[:general_out]}
