%h1= t('titles.payments')
.filters
  %h2= t('filters')
  = form_tag reports_payments_path, method: :get do
    .form-group
      = label_tag :date_from
      = date_field_tag :date_from, @date_from, class: 'form-control'
    .form-group
      = label_tag :date_to
      = date_field_tag :date_to, @date_to, class: 'form-control'
    .from-group
      = label_tag do
        = radio_button_tag :direction, :done, params[:direction] == 'done'
        Done
      = label_tag do
        = radio_button_tag :direction, :received, params[:direction] == 'received'
        Received
    .form-group
      = label_tag :search
      = text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Desc/Name/Lastname'

    = submit_tag t('labels.filter'), class: 'btn btn-primary'

.scrollable_table
  %table.table.table-striped.table-sm
    %thead.thead-dark
      %tr
        %th Person
        %th Date
        %th Amount
        %th Description
        %th Receipt
    - @payments.each do |tran|
      %tr
        %td= tran.person.to_label
        %td= l tran.created_at
        %td= tran.amount
        %td= tran.description
        %td= ''
    %tfoot
      %tr
        %td{colspan: 5}
          %b Total: $#{@payments.total}
