!!!DOCTYPE
%html
  %head
    %title Dans
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    #trumbowyg-icons= inline_svg Rails.root.join('node_modules','trumbowyg','dist','ui','icons.svg').to_s
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      %button.navbar-toggler{type: "button", data: {toggle: "collapse", target: "#navbarNav"}, aria: {controls: "navbarNav", expanded: "false", label: "Toggle navigation"}}
        %span.navbar-toggler-icon

      .collapse.navbar-collapse#navbarNav
        %ul.navbar-nav
          %li.nav-item
            = link_to root_path, class: 'nav-link' do
              %i.fa.fa-home
              = t('titles.home')
          %li.nav-item
            = link_to options_path, class: 'nav-link' do
              %i.fa.fa-cogs
              = t('titles.options')
          %li.nav-item
            = link_to people_path, class: 'nav-link' do
              %i.fa.fa-address-card
              = t('titles.people')
          %li.nav-item
            = link_to klasses_path, class: 'nav-link' do
              %i.fa.fa-music
              = t('titles.klasses')
          %li.nav-item
            = link_to '#', class: 'nav-link' do
              %i.fa.fa-sitemap
              = t('titles.packages')
    .container-fluid
      = yield

  %footer
    .status
