!!!DOCTYPE
%html
  %head
    %title
      - if content_for(:page_title)
        = yield(:page_title)
        |
      - if name = Setting.fetch('name', nil)
        = "#{name} | "
      Dans
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}

    :javascript
      Settings = {
        hours_fees: #{Setting.get_hours_fees.to_json.html_safe}
      }

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body{class: "c_#{params[:controller].gsub('/','__')} a_#{params[:action]}"}
    #trumbowyg-icons= inline_svg Rails.root.join('node_modules','trumbowyg','dist','ui','icons.svg').to_s
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light.justify-content-between
      %button.navbar-toggler{type: "button", data: {toggle: "collapse", target: "#navbarNav"}, aria: {controls: "navbarNav", expanded: "false", label: "Toggle navigation"}}
        %span.navbar-toggler-icon

      #navbarNav.collapse.navbar-collapse
        %ul.navbar-nav
          %li.nav-item
            = link_to root_path, class: 'nav-link' do
              %i.fa.fa-home
              = t('home')
          %li.nav-item
            = link_to settings_path, class: 'nav-link' do
              %i.fa.fa-cogs
              = t('options')
          %li.nav-item
            = link_to rooms_path, class: 'nav-link' do
              %i.fa.fa-columns
              = t('rooms')
          %li.nav-item
            = link_to klasses_path, class: 'nav-link' do
              %i.fa.fa-music
              = t('klasses')
          %li.nav-item
            = link_to packages_path, class: 'nav-link' do
              %i.fa.fa-music
              = t('packages')
          %li.nav-item
            = link_to people_path, class: 'nav-link' do
              %i.fa.fa-address-card
              = t('people')
          %li.nav-item.dropdown
            %a#navbarDropdown.nav-link.dropdown-toggle{href: "#", role: "button", data: {toggle: "dropdown"}, aria: {haspopup: "true", expanded: "false"}}
              %i.fa.fa-bar-chart
              = t('reports')
            .dropdown-menu{aria: {labelledby: "navbarDropdown"}}
              = link_to t('daily_cash'), reports_daily_cash_path, class: "dropdown-item"
              = link_to t('payments'), reports_payments_path, class: "dropdown-item"
              = link_to 'LALA', '#', class: "dropdown-item"

        - if admin_signed_in?
          .ml-auto= link_to t('session.close'), destroy_admin_session_path, method: :delete, class: 'nav-link nav-item'

    %section
      - flash.keys.each do |k|
        - aux = case k
          - when 'notice', :notice then :success
          - when 'alert', :alert then :danger
          - else k
        .alert{class: "alert-#{aux}"}
          %a.close{href: "#", data: {dismiss: "alert"}, aria: {label: "close"}} &times;
          = flash[k]

      = yield

  %footer
    .status
