.klass_fields
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :fixed_fee
    = f.text_field :fixed_fee, class: 'form-control'
  -# .form-group.col
  -#   = f.label :teacher
  -#   = f.text_field :teacher, class: 'form-control'
  .form-group
    = f.label :status
    = f.text_field :status, class: 'form-control'
  -# .form-group
  -#   = f.label :info
  -#   = f.text_area :info, class: 'form-control'

.klass_schedules
  %h3= t('schedules')
  #schedules
    = f.fields_for :schedules do |schedule|
      = render 'schedule_fields', f: schedule
    .action= link_to_add_association t('add.schedule'), f, :schedules
