.nested-fields
  = link_to_remove_association "X", f
  = f.input :from_time, input_html: {type: 'time', value: f.object.from_time_s, min: Setting.fetch(:opening_time, '00:00'), max: Setting.fetch(:closing_time, '24:00'), step: 1800}
  = f.input :to_time, input_html: {type: 'time', value: f.object.to_time_s, min: Setting.fetch(:opening_time, '00:00'), max: Setting.fetch(:closing_time, '24:00'), step: 1800}
  = f.input :day, collection: Schedule.days_for_select, include_blank: false, input_html: {class: 'form-select'}
  = f.input :room_id, collection: Room.all, value_method: :id, label_method: :name, include_blank: false, input_html: {class: 'form-select'}
