%h1= t('titles.klasses')
.row
  .col-12
    = form_tag '', method: :get, class: 'form-inline' do
      = text_field_tag :q, params[:q], placeholder: 'Buscar', class: 'form-control mr-2 mb-2'
      = submit_tag 'Filtrar', class: 'btn btn-primary mb-2'
    %table.table
      %thead
        %tr
          %th= t('form.header.klasses.name')
          %th= t('form.header.klasses.status')
          %th Horarios
          %th= t('form.header.klasses.actions')
      %tbody
        - @klasses.each do |klass|
          %tr
            %td= klass.name
            %td= klass.status
            %td
              - klass.schedules.each do |sch|
                = sch.to_label
            %td
              = link_to t('form.action.klasses.edit'), edit_klass_path(klass)
              = link_to 'Delete', klass, method: :delete, data: {confirm: '¿Re seguro?'}
              - active_text = klass.active? ? 'Desactivar' : 'Activar'
              = link_to active_text, toggle_active_klass_path(klass), method: :put

    = link_to t('form.action.klasses.add'), new_klass_path
