- page_title(t('klasses'))

%h1= t('klasses')

= form_tag '', method: :get do
  .form-group.form-inline= text_field_tag :q, params[:q], placeholder: t('labels.search'), class: 'form-input'
  = label_tag '', class: 'form-checkbox form-inline' do
    = check_box_tag :include_inactive, '1', params[:include_inactive]
    = t('labels.include_inactive')
    %i.form-icon
  = submit_tag t('labels.filter'), class: 'btn btn-primary'

.scrollable
  %table.table.table-striped.table-small
    %thead.thead-dark
      %tr
        %th= t('activerecord.attributes.klass.name')
        %th= t('activerecord.attributes.klass.schedules')
        %th.actions
    %tbody
      - @klasses.each do |klass|
        %tr{class: (klass.inactive? ? 'table-warning' : '')}
          %td
            = klass.name
            - if klass.inactive?
              (#{klass.status})
          %td= klass.schedules.map{|sch| "#{sch.day_name}: #{sch.from_time_s}-#{sch.to_time_s}"}.join(', ')
          %td.actions
            = link_to edit_klass_path(klass) do
              %i.icon.icon-edit
            |
            = link_to klass, method: :delete, data: {confirm: '¿Re seguro?'} do
              %i.icon.icon-delete
            |
            - active_text = klass.active? ? :deactivate : :activate
            = link_to t(active_text, scope: 'labels.klasses'), toggle_active_klass_path(klass, include_inactive: params[:include_inactive]), method: :put

.actions
  = link_to t('add.klass'), new_klass_path, class: 'btn btn-primary'
